.deps
*.out
Makefile
Makefile.in
*.m4
*.log
configure
output.*
traces.*
config.h
config.h.in
version.h
config.*
vice/compile
vice/depcomp
vice/missing
vice/ylwrap
vice/autom4te.cache/requests
vice/src/debug.h
vice/src/infocontrib.h
vice/src/stamp-h1
vice/src/vice-version.sh
vice/src/resid/COPYING
vice/src/resid/INSTALL
vice/src/resid/siddefs.h
vice/src/resid/autom4te.cache/requests
vice/src/resid-dtv/COPYING
vice/src/resid-dtv/INSTALL
vice/src/resid-dtv/siddtvdefs.h
vice/src/resid-dtv/autom4te.cache/requests
vice/confdefs.h
vice/src/resid/confdefs.h
configure~
vice/src/resid/confCZg2DX/out
*.awk
*.ico
vice/doc/html
vice/GTK3VICE-3.7.1-win64
*.o
*.exe
*.a
*.res
*.o65
vice/data/common/vice.gresource
vice/src/arch/gtk3/novte/box_drawing.h
vice/src/arch/gtk3/novte/marshal.cc
vice/src/arch/gtk3/novte/marshal.h
vice/src/arch/gtk3/novte/vtetypebuiltins.cc
vice/src/arch/gtk3/novte/vtetypebuiltins.h
vice/src/c64/psiddrv.h
vice/src/monitor/mon_lex.c
vice/src/monitor/mon_parse.c
vice/src/monitor/mon_parse.h
vice/src/resid/wave6581__ST.h
vice/src/resid/wave6581_P_T.h
vice/src/resid/wave6581_PS_.h
vice/src/resid/wave6581_PST.h
vice/src/resid/wave8580__ST.h
vice/src/resid/wave8580_P_T.h
vice/src/resid/wave8580_PS_.h
vice/src/resid/wave8580_PST.h
*.bak
